@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

:root {

  --pry:#0E8BFF;
  --sec1:#F5FAFF;
  --sec2:#136CD5;
  --sec3:#D6EBFD;

  --neut700: #26395C;
  --neut600:#656B89;
  --neut500:#969DAA;
  --neut400:#D0D8E7;
  --neut300:#E4E7EC;
  --neut200:#E4E7EC;
  --neut100: #FFFFFF;


  --ill1:#0945B9;
  --ill2:#8AAFEB;
  --ill3:#7694CD;


  --shadow1:'0px 2px 12px rgba(38, 47, 92, 0.06)'; 
  --shadow2:'0px 12px 30px rgba(38, 47, 92, 0.04)';
  --shadow3:'0px 22px 54px rgba(18, 25, 49, 0.08)';


  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.pry{
  color:var(--pry)
}
.sec1{
  color: var(--sec1);
}

.sec2{
  color: var(--sec2);
}

.sec3{
  color: var(--sec3);
}


.neut700{
  color: var(--neut700);
}

.neut600{
  color: var(--neut600);
}

.neut500{
  color: var(--neut500);
}

.neut400{
  color: var(--neut500);
}